In [1]:
import pandas as pd
import os 
import numpy as np 
import seaborn as sns
import warnings
from scipy import stats 
from matplotlib import pylab as plt 
from statsmodels.graphics.gofplots import qqplot
from IPython.core.interactiveshell import InteractiveShell

warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=Warning)
InteractiveShell.ast_node_interactivity = 'all'

%reload_ext autoreload
%autoreload 2 
%matplotlib inline 

sns.set_style('whitegrid')
sns.set_context('paper', font_scale=1.5)
plt.style.use('fivethirtyeight')
pd.set_option('display.width', 100)
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 30)

In [2]:
raw_customer, raw_orders = './input/customers.csv', './input/orders.csv'
raw_products, raw_sales = './input/products.csv', './input/sales.csv'

In [3]:
customer, order = pd.read_csv(raw_customer), pd.read_csv(raw_orders)
product, sales = pd.read_csv(raw_products), pd.read_csv(raw_sales)

In [4]:
cust_order = pd.merge(left=customer, right=order, left_index=True, right_index=True)
cop_data = pd.merge(left=cust_order, right=product, left_index=True, right_index=True)

In [5]:
cop_data.head(20)

,customer_id_x,customer_name,gender,age,home_address,zip_code,city,state,country,order_id,customer_id_y,payment,order_date,delivery_date,product_ID,product_type,product_name,size,colour,price,quantity,description
0,1,Leanna Busson,Female,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia,1,64,30811,2021-8-30,2021-09-24,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,2,Zabrina Harrowsmith,Genderfluid,69,8327 Kirlin SummitApt. 461,8223,New Zacharyfort,South Australia,Australia,2,473,50490,2021-2-3,2021-02-13,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,3,Shina Dullaghan,Polygender,59,269 Gemma SummitSuite 109,5661,Aliburgh,Australian Capital Territory,Australia,3,774,46763,2021-10-8,2021-11-03,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,4,Hewet McVitie,Bigender,67,743 Bailey GroveSuite 141,1729,South Justinhaven,Queensland,Australia,4,433,39782,2021-5-6,2021-05-19,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,5,Rubia Ashleigh,Polygender,30,48 Hyatt ManorSuite 375,4032,Griffithsshire,Queensland,Australia,5,441,14719,2021-3-23,2021-03-24,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt"
5,6,Cordey Tolcher,Genderfluid,40,7118 Mccullough SquareSuite 639,9996,Blakehaven,New South Wales,Australia,6,800,16197,2021-9-9,2021-10-05,5,Shirt,Oxford Cloth,XS,orange,114,45,"A orange coloured, XS sized, Oxford Cloth Shirt"
6,7,Winslow Ewbanck,Bigender,76,92 Hills Station StApt. 683,793,Masonfurt,Queensland,Australia,7,626,37666,2021-4-5,2021-04-11,6,Shirt,Oxford Cloth,S,orange,114,72,"A orange coloured, S sized, Oxford Cloth Shirt"
7,8,Marlowe Wynn,Agender,75,383 Muller SummitSuite 809,7681,Samside,Northern Territory,Australia,8,58,28484,2021-4-12,2021-05-01,7,Shirt,Oxford Cloth,M,orange,114,77,"A orange coloured, M sized, Oxford Cloth Shirt"
8,9,Brittaney Gontier,Male,51,57 Greenfelder HillApt. 077,2,Beierport,Northern Territory,Australia,9,852,12896,2021-5-1,2021-05-11,8,Shirt,Oxford Cloth,L,orange,114,48,"A orange coloured, L sized, Oxford Cloth Shirt"
9,10,Susanetta Wilshin,Bigender,70,615 Hayley KnollSuite 454,2118,Joelburgh,Western Australia,Australia,10,659,21922,2021-10-15,2021-10-16,9,Shirt,Oxford Cloth,XL,orange,114,43,"A orange coloured, XL sized, Oxford Cloth Shirt"
10,11,Michaeline McIndrew,Agender,39,96 Daniel PlaceSuite 898,7400,Georgeland,Northern Territory,Australia,11,785,36624,2021-6-15,2021-06-30,10,Shirt,Oxford Cloth,XS,yellow,114,72,"A yellow coloured, XS sized, Oxford Cloth Shirt"
11,12,Fedora Dmych,Bigender,78,66 Kayla MewsSuite 951,6334,Taylorburgh,South Australia,Australia,12,120,55507,2021-6-30,2021-07-11,11,Shirt,Oxford Cloth,S,yellow,114,78,"A yellow coloured, S sized, Oxford Cloth Shirt"
12,13,Marabel Swinfon,Male,42,16 Kuhn LoopSuite 442,6170,Maddisonmouth,Queensland,Australia,13,204,57810,2021-10-15,2021-10-31,12,Shirt,Oxford Cloth,M,yellow,114,56,"A yellow coloured, M sized, Oxford Cloth Shirt"
13,14,Chrissie Wackly,Bigender,36,403 Doherty RunSuite 497,2050,North Benjaminville,New South Wales,Australia,14,957,21270,2021-3-29,2021-04-12,13,Shirt,Oxford Cloth,L,yellow,114,75,"A yellow coloured, L sized, Oxford Cloth Shirt"
14,15,Avril Rossiter,Genderfluid,34,254 Ali RidgeApt. 350,491,Kiehnburgh,Western Australia,Australia,15,468,15488,2021-9-22,2021-10-08,14,Shirt,Oxford Cloth,XL,yellow,114,50,"A yellow coloured, XL sized, Oxford Cloth Shirt"
15,16,Gabbie Aldwinckle,Male,75,424 Mason PlaceApt. 181,6438,New Kai,Victoria,Australia,16,564,36479,2021-7-7,2021-07-08,15,Shirt,Oxford Cloth,XS,green,114,68,"A green coloured, XS sized, Oxford Cloth Shirt"
16,17,Devonna Cutting,Genderfluid,32,29 Imogen CrestSuite 275,8309,Lake Graceside,Australian Capital Territory,Australia,17,614,51822,2021-2-9,2021-02-11,16,Shirt,Oxford Cloth,S,green,114,56,"A green coloured, S sized, Oxford Cloth Shirt"
17,18,Chan Duchesne,Male,79,13 Bailey ManorApt. 848,7171,Walterland,New South Wales,Australia,18,299,22902,2021-1-1,2021-01-03,17,Shirt,Oxford Cloth,M,green,114,60,"A green coloured, M sized, Oxford Cloth Shirt"
18,19,Chadwick Cruddas,Agender,41,002 Beau PlazaApt. 308,7053,West Bailey,Victoria,Australia,19,513,56754,2021-8-30,2021-09-10,18,Shirt,Oxford Cloth,L,green,114,52,"A green coloured, L sized, Oxford Cloth Shirt"
19,20,Gigi Kalaher,Genderqueer,55,2069 Phoebe MallApt. 543,6318,East Audrey,South Australia,Australia,20,789,45129,2021-1-13,2021-01-20,19,Shirt,Oxford Cloth,XL,green,114,42,"A green coloured, XL sized, Oxford Cloth Shirt"

In [6]:
sales.head()

   sales_id  order_id  product_id  price_per_unit  quantity  total_price
0         0         1         218             106         2          212
1         1         1         481             118         1          118
2         2         1           2              96         3          288
3         3         1        1002             106         2          212
4         4         1         691             113         3          339

In [7]:
cop_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id_x  1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   gender         1000 non-null   object
 3   age            1000 non-null   int64
 4   home_address   1000 non-null   object
 5   zip_code       1000 non-null   int64
 6   city           1000 non-null   object
 7   state          1000 non-null   object
 8   country        1000 non-null   object
 9   order_id       1000 non-null   int64
 10  customer_id_y  1000 non-null   int64
 11  payment        1000 non-null   int64
 12  order_date     1000 non-null   object
 13  delivery_date  1000 non-null   object
 14  product_ID     1000 non-null   int64
 15  product_type   1000 non-null   object
 16  product_name   1000 non-null   object
 17  size           1000 non-null   object
 18  colour         1000 non-null   object
 19  price          1000 non-null   int64
 20  quantity       1000 non-null   int64
 21  description    1000 non-null   object
dtypes: int64(9), object(13)
memory usage: 179.7+ KB

In [8]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     5000 non-null   int64
dtypes: int64(6)
memory usage: 234.5 KB

In [9]:
categorical = cop_data.select_dtypes(['category', 'object']).columns

for cat_col in categorical:
    print(f'{cat_col}: {cop_data[cat_col].nunique()} uniq variables')

customer_name: 1000 uniq variables
gender: 8 uniq variables
home_address: 1000 uniq variables
city: 961 uniq variables
state: 8 uniq variables
country: 1 uniq variables
order_date: 291 uniq variables
delivery_date: 305 uniq variables
product_type: 3 uniq variables
product_name: 28 uniq variables
size: 5 uniq variables
colour: 7 uniq variables
description: 1000 uniq variables

In [10]:
numeric = sales.select_dtypes(['int', 'float']).columns

for num_col in numeric:
    print(f'{num_col}: {sales[num_col].nunique()} uniq variables')

sales_id: 5000 uniq variables
order_id: 993 uniq variables
product_id: 1233 uniq variables
price_per_unit: 23 uniq variables
quantity: 3 uniq variables
total_price: 69 uniq variables

In [11]:
cop_data.isnull().sum()

customer_id_x    0
customer_name    0
gender           0
age              0
home_address     0
zip_code         0
city             0
state            0
country          0
order_id         0
customer_id_y    0
payment          0
order_date       0
delivery_date    0
product_ID       0
product_type     0
product_name     0
size             0
colour           0
price            0
quantity         0
description      0
dtype: int64

In [12]:
sales.isnull().sum()

sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64

In [13]:
cop_data['order_date'], cop_data['delivery_date'] = pd.to_datetime(cop_data['order_date']), pd.to_datetime(cop_data['delivery_date'])

cop_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id_x  1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   gender         1000 non-null   object
 3   age            1000 non-null   int64
 4   home_address   1000 non-null   object
 5   zip_code       1000 non-null   int64
 6   city           1000 non-null   object
 7   state          1000 non-null   object
 8   country        1000 non-null   object
 9   order_id       1000 non-null   int64
 10  customer_id_y  1000 non-null   int64
 11  payment        1000 non-null   int64
 12  order_date     1000 non-null   datetime64[ns]
 13  delivery_date  1000 non-null   datetime64[ns]
 14  product_ID     1000 non-null   int64
 15  product_type   1000 non-null   object
 16  product_name   1000 non-null   object
 17  size           1000 non-null   object
 18  colour         1000 non-null   object
 19  price          1000 non-null   int64
 20  quantity       1000 non-null   int64
 21  description    1000 non-null   object
dtypes: datetime64[ns](2), int64(9), object(11)
memory usage: 179.7+ KB

In [14]:
cop_data['sales'] = cop_data['price'] * cop_data['quantity']
cop_data.head()

,customer_id_x,customer_name,gender,age,home_address,zip_code,city,state,country,order_id,customer_id_y,payment,order_date,delivery_date,product_ID,product_type,product_name,size,colour,price,quantity,description,sales
0,1,Leanna Busson,Female,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia,1,64,30811,2021-08-30,2021-09-24,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt",7524
1,2,Zabrina Harrowsmith,Genderfluid,69,8327 Kirlin SummitApt. 461,8223,New Zacharyfort,South Australia,Australia,2,473,50490,2021-02-03,2021-02-13,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt",6042
2,3,Shina Dullaghan,Polygender,59,269 Gemma SummitSuite 109,5661,Aliburgh,Australian Capital Territory,Australia,3,774,46763,2021-10-08,2021-11-03,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt",6156
3,4,Hewet McVitie,Bigender,67,743 Bailey GroveSuite 141,1729,South Justinhaven,Queensland,Australia,4,433,39782,2021-05-06,2021-05-19,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt",7866
4,5,Rubia Ashleigh,Polygender,30,48 Hyatt ManorSuite 375,4032,Griffithsshire,Queensland,Australia,5,441,14719,2021-03-23,2021-03-24,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt",5358

In [15]:
cop_data['year_order'] = cop_data['order_date'].dt.year
cop_data['month_order'] = cop_data['order_date'].dt.month
cop_data['day_order'] = cop_data['order_date'].dt.day

In [16]:
cop_data.head(1)

,customer_id_x,customer_name,gender,age,home_address,zip_code,city,state,country,order_id,customer_id_y,payment,order_date,delivery_date,product_ID,product_type,product_name,size,colour,price,quantity,description,sales,year_order,month_order,day_order
0,1,Leanna Busson,Female,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia,1,64,30811,2021-08-30,2021-09-24,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt",7524,2021,8,30

In [18]:
cop_data['year_delivery'] = cop_data['delivery_date'].dt.year
cop_data['month_delivery'] = cop_data['delivery_date'].dt.month
cop_data['day_delivery'] = cop_data['delivery_date'].dt.day

In [19]:
cop_data.head(1)

,customer_id_x,customer_name,gender,age,home_address,zip_code,city,state,country,order_id,customer_id_y,payment,order_date,delivery_date,product_ID,product_type,product_name,size,colour,price,quantity,description,sales,year_order,month_order,day_order,year_delivery,month_delivery,day_delivery
0,1,Leanna Busson,Female,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia,1,64,30811,2021-08-30,2021-09-24,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt",7524,2021,8,30,2021,9,24